*{
    margin: 0;
    padding: 0;
}

.form{
    position: absolute;
    left: 33%;
    top: 20%;
    background: #000000;
    padding: 2em;
}

.form-bg{
    background: #1F2937;
    padding: 3em;
}

.form-bg h1 {
    text-align: justify;
    color: #fff;
    font-size: 3em;
}

.form-bg h2 {
    text-align: justify;
    color: #4ADF86;
    font-size: 3em;
    padding-bottom: 5px;
}

.form-bg p {
    color: #fff;
    text-align: justify;
    font-size: 20px;
    padding-bottom: 3em;
}

.form-bg button {
    border-radius: 6px;
    border: none;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    background: #4ADF86;
    margin-bottom: 35px;
    cursor: pointer;
}

.form-bg button:hover{
    background: #046129;
    color: #000000;
}

hr{
    margin-bottom: 35px;
    background: #2F3E53;
}

.form-bg input{
    margin: 0% 15px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background: #273549;
    color: #4ADF86;
    font-size: 20px;
    text-align: center;
}